<head>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="fgCvUavHPC4PNIsCzIJ7u8odSISCCgop6YfhdfOGSX0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  {%- feed_meta -%}
  {%- include custom-head.html -%}
 
<link rel="stylesheet" href="{{ "/assets/css/bs.css" | relative_url }}"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{ "/assets/css/dec.css" | relative_url }}"> 
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6422989243541464"
     crossorigin="anonymous"></script>
</head>
