<div class="row" style="background-image:url(assets/img/newkasir/BG.webp);background-repeat:yes">
    <div class="col-10 col-md-10 p-3 p-md-5 text-white">
      <h3>{{site.data.home.home.title9}}</h3>
      <p>{{site.data.home.home.content9}}</p>
      <p>
        <a class="btn rounded-pill btn-sm btn-light" href="https://wa.me/{{ site.data.home.author.whatsapp}}" target="blank" rel="nofollow">
          <span class="info">WhatsApp</span>
        </a>&nbsp; <a class="btn rounded-pill btn-sm btn-light" href="tel:+{{ site.data.home.author.phone}}" target="blank" rel="nofollow">
          <span class="info">Call Us</span>
        </a>&nbsp; <a class="btn rounded-pill btn-sm btn-light" href="mailto:{{ site.data.home.author.email}}" target="blank" rel="nofollow">
          <span class="info">Email</span>
        </a>
      </p>
    </div>
    <div class="col-2 col-md-2 bg-light p-0" style="background-image:url(assets/img/newkasir/BG.webp);background-repeat:yes">
      <img class="img-fluid" alt="mesin kasir" width="100%" height="100%" src="./assets/img/newkasir/mesinkasir10.webp">
    </div>
  </div>
</div>
