<body>
<div class="container-fluid">
  <div class="row text-center">
   
   <div class="col-12 col-md-12 p-3 p-md-5 text-white" style="background-image:url(assets/img/newkasir/mesinkasir1.webp);background-repeat:repeat-x;background-attachment:fixed;background-position:center;background-size:cover">
      <div class="shadow rounded p-3 p-md-5 bg-dark" style="opacity:.9">
        <h1>
          <strong>
            <a class="text-white" href="{{site.url}}">{{site.data.home.title}}</a>
          </strong>
        </h1>
        <img class="img-fluid" width="120" height="120" alt="{{home.home.title}}" src="{{site.data.home.cover}}">
        <h2>{{site.data.home.description}}.</h2>
        <p>{{site.data.home.content}}</p>
      </div>
    </div>
<div class="col-12 p-0">
<img class="img-fluid" alt="mesin kasir online" width="100%" height="100%" src="./assets/img/mesinkasirallinonepos.webp">
</div>