 <div class="row bg-light">
    <div class="col-2 col-md-1 bg-light p-0">
      <img class="img-fluid" alt="mesin kasir" width="100%" height="100%" src="./assets/img/newkasir/mesinkasir8.webp">
    </div>
    <div class="col-10 col-md-5 bg-primary text-white p-3 p-md-5">
      <h3><a href="/" class="text-white">{{site.data.home.home.title7}}</a></h3>
      <p>{{site.data.home.home.content7}}</p>
    </div>
    <div class="col-10 col-md-5 p-3 p-md-5">
      <h3><a href="/">{{site.home.title8}}</a></h3>
      <p>{{site.data.home.home.content8}}</p>
    </div>
    <div class="col-2 col-md-1 bg-light p-0">
      <img class="img-fluid" alt="mesin kasir" width="100%" height="100%" src="./assets/img/newkasir/mesinkasir9.webp">
    </div>
  </div>
