 <div class="row" style="background-image:url(assets/img/newkasir/BG.webp);background-repeat:yes">
    <div class="col-2 col-md-2 p-0">
      <img class="img-fluid" alt="mesin kasir" width="100%" height="100%" src="./assets/img/newkasir/mesinkasir6.webp">
    </div>
    <div class="col-10 col-md-10 p-3 p-md-5 text-white">
      <h3>
        <a class="text-white" href="https://mesinkasir.github.io">{{site.home.title5}}</a>
      </h3>
      <p>{{site.home.content5}}</p>
      <br>
      <a href="{{site.home.url5}}" class="btn btn-light rounded">Download Now</a>
    </div>
  </div>
  <div class="ratio ratio-16x9">
    <iframe src="https://www.youtube.com/embed/gGZcHO32mh4" title="Mesin kasir restoran cafe rumah makan demo" allowfullscreen></iframe>
  </div>
