 <div class="row bg-light">
    <div class="col-10 col-md-10 p-3 p-md-5">
      <h3>
        <a class="text-dark" href="{{site.url}}">{{site.data.home.home.title6}}</a>
      </h3>
      <p>{{site.data.home.home.content6}}</p>
      <br>
      <br>
      <a href="{{site.data.home.home.url6}}" class="btn btn-dark rounded">Download Now</a>
    </div>
    <div class="col-2 col-md-2 bg-light p-0" style="background-image:url(assets/img/newkasir/BG.webp);background-repeat:yes">
      <img class="img-fluid" alt="mesin kasir" width="100%" height="100%" src="./assets/img/newkasir/mesinkasir7.webp">
    </div>
  </div>
  <div class="col-md-12 p-0 bg-dark">
  <a href="/mesinkasironline.html" title="play video cara kerja mesin kasir online">
    <img src="./assets/img/newkasir/aplikasiandroidpos.webp" class="img-fluid" width="100%" height="100%" alt="Mesin kasir Online demo APK android"/>
	</a>
  </div>

