@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html,
body {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
}

a:link {
	text-decoration: none; color:black;
}
img {
  max-width: 100%;
  border-radius: 12px; margin-bottom: 5px; margin-top: 5px;
}
iframe,.ser {
  border-radius: 12px 12px 12px 12px; margin-bottom: 35px; margin-top: 5px;
}
::selection {color: white; background: black;}
a:link {
  text-decoration: none;
  color: black;
}
.card {
  border-radius: 45px;
  padding: 20px; 
}
.roundeds {
  border-radius: 45px;
}
a:visited {
  text-decoration: none;
  color: black;
}
img {
  max-width: 100%;
}

.info {
  font: 100 0.915rem/0.985rem 'Questrial', sans-serif;
}
.footer {
  font: 100 1.015rem/1.105rem 'Questrial', sans-serif;
}
