---
layout: bloglist
title: Perpustakaan Blog
description: Update informasi aplikasi kasir , mesin kasir , source code project, website dev technology , tips dan trick
cover: /assets/img/kasirgithub.png
---
<div class="row">
{% for post in paginator.posts %}
<a href="{{post.url}}" class="col-md-6 p-3">
<div class="p-3">
{% assign post = site.posts %}
<div class="p-1 mt-3">
<p><small>{{ post.date | date_to_string }}</small></p>
<h3><strong>
{{post.title}}
</strong></h3>
{% if post.description %}<p>{{post.description}}</p>{% endif %}
</div>
</div>
{% endfor %}
</a>
</div>

<!-- pagination -->
<div class="row p-3">
{% if paginator.previous_page %}
<a href="{{ paginator.previous_page_path }}" class="col-4">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
</svg> Previous
</a>
{% else %}
<span class="col-4">
</span>
{% endif %}
<span class="col-4 text-center">
{{ paginator.page }} / {{ paginator.total_pages }}
</span>
{% if paginator.next_page %}
<a href="{{ paginator.next_page_path }}" class="col-4 text-end">Next <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg></a>
{% else %}
<span class="col-4">
</span>
{% endif %}
</div>

